---
import UdtalelseKort from "./UdtalelseKort.astro";
---

<section class="mx-auto grid max-w-230 grid-cols-2 gap-3 px-4 md:grid-cols-3">
  <UdtalelseKort
    title="Tv2 Kosmopol"
    image="/assets/img/udtalelser/tv2kosmopol.webp"
    alt="Tv2 Kosmopol"
    text="Tv2 Kosmopol har skrevet en artikel om vores projekt “Projekt VelkommenHjem”, hvor vi hjælper folk med at komme i bolig."
    linkText="Læs artiklen her"
    href="https://www.tv2kosmopol.dk/koebenhavn/hjemloese-faar-hjaelp-til-boligindretningen-saadan-har-stella-faaet-et-nyt-hjem-vaek-fra-gaden?fbclid=IwAR3nPfUN9w5IHEfWLdNyFI0zYAQ0_FUoEBBwWaT1YRS1dIriPOs76dXxp8g"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="Bo Godt"
    image="/assets/img/udtalelser/bogodt.webp"
    alt="Bo Godt"
    text="Bo Godt har lavet en video, hvor de har fulgt os i vores “Projekt VelkommenHjem” projekt."
    linkText="Se videoen her"
    href="https://www.facebook.com/watch/?v=1215847822456078"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="Politiken"
    image="/assets/img/udtalelser/politikken.webp"
    alt="Politiken"
    text="Vores frivillige Nicholas har skrevet et debatindlæg om stigmatiseringen af hjemløse, som er blevet trykt i Politiken."
    linkText="Læs debatindlægget her"
    href="https://politiken.dk/debat/debatindlaeg/art9395067/Stigmatiseringen-af-hjeml%C3%B8se-i-Danmark-er-blevet-ekstrem?fbclid=IwAR2uOMn7NYfaDMGq_mRMKDuvaop-L6pUgrSiaO67XHmL1B4cMpLBa8E9Feo"
    titleColor="text-secondary"
  />

  <UdtalelseKort
    title="Amager Liv"
    image="/assets/img/udtalelser/amagerliv.webp"
    alt="Amager Liv"
    text="I juli 2023, startede vi med at uddele bind og tamponer på offentlige toiletter i København. Det har Amager Liv skrevet en artikel om."
    linkText="Læs artiklen her"
    href="https://amagerliv.dk/amager/gratis-bind-og-tamponer-dukker-nu-op-paa-offentlige-toiletter-i-koebenhavn-snorre-og-daniel-har-taget-sagen-i-egen-haand?fbclid=IwAR0tFWj_j5iK0nV9LRdwyRAVKxCGAHXTNat8TFGZD7mVKoOtvg2p2qnF8D0"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="Kristeligt Dagblad"
    image="/assets/img/udtalelser/kristeligtdagblad.webp"
    alt="Kristeligt Dagblad"
    text="Vores organisation blev i juli 2021 fulgt på en uddeling af Kristeligt Dagblad, som de skrev denne artikel om."
    linkText="Læs artiklen her"
    href="https://www.kristeligt-dagblad.dk/24-aarige-snorre-har-stiftet-sin-egen-frivillig-organisation-jeg-har-vaeret-meget?fbclid=IwAR0aVL_YippwLkXs2dIz4Spgv0GpNglEGWBb8UrjfXYJ21M32ik0qVBCGOg"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="Go’ Aften Danmark"
    image="/assets/img/udtalelser/goaftendanmark.webp"
    alt="Go’ Aften Danmark"
    text="Han droppede ud af jurastudiet for at hjælpe hjemløse."
    linkText="Se interview og artiklen her"
    href="https://nyheder.tv2.dk/samfund/2026-01-13-han-droppede-ud-af-jurastudiet-for-at-hjaelpe-hjemloese"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="Tv2 Kosmopol"
    image="/assets/img/udtalelser/tv2kosmopol2.webp"
    alt="Tv2 Kosmopol"
    text="Efter seks år som hjemløs kæmpede hun i sit nye hjem - så kom ”en kæmpe gave”"
    linkText="Læs artiklen her"
    href="https://nyheder.tv2.dk/samfund/2024-10-16-efter-seks-aar-som-hjemloes-kaempede-hun-i-sit-nye-hjem-saa-kom-en-kaempe-gave"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="Migogkbh"
    image="/assets/img/udtalelser/migogkbh.webp"
    alt="Migogkbh"
    text="Mens alle andre kigger væk: Unge fylder lejligheder til udsatte med møbler, tøj og mad"
    linkText="Læs artiklen her"
    href="https://migogkbh.dk/unge-fylder-lejligheder-til-udsatte-med-moebler-toej-og-mad/"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="Ude og Hjemme"
    image="/assets/img/udtalelser/udeoghjemme.webp"
    alt="Ude og Hjemme"
    text="Philip var hjemløs i 18 år: Jeg skal lære at tilgive mig selv"
    linkText="Læs artiklen her"
    href="https://www.udeoghjemme.dk/skaebner/naar-livet-goer-ondt/philip-var-hjemloes-i-18-aar-jeg-skal-laere-tilgive-mig-selv"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="Tv2 Kosmopol"
    image="/assets/img/udtalelser/tv2kosmopol-3.webp"
    alt="Tv2 Kosmopol"
    text="Mand fundet bundfrossen på gaden - ”det er alvor lige nu”"
    linkText="Læs artiklen her"
    href="https://nyheder.tv2.dk/samfund/2026-02-03-mand-fundet-bundfrossen-paa-gaden-det-er-alvor-lige-nu"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="WOMAN"
    image="/assets/img/udtalelser/woman.webp"
    alt="WOMAN"
    text="De kunne jagte titler og topjobs - i stedet indretter de hjem for tidligere hjemløse. ”Meningen er vigtigere end penge”"
    linkText="Læs artiklen her"
    href="https://woman.dk/samfund/de-kunne-jagte-hoejtloennede-karrierejobs-i-stedet-indretter-de-hjem-for-tidligere-hjemloese"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="Go’ Morgen Danmark"
    image="/assets/img/udtalelser/gomorgendanmark.webp"
    alt="Go’ Morgen Danmark"
    text="“Det giver sindssygt meget at kunne give andre en ny start på livet.” Vores formand Snorre medvirkede i juli 2023 i Go’ Morgen Danmark."
    linkText="Se interviewet her"
    href="https://www.facebook.com/go.tv2.dk/photos/det-giver-sindssygt-meget-at-kunne-give-andre-en-ny-start-p%C3%A5-livet-s%C3%A5dan-lyder-d/689067806599821/"
    titleColor="text-background1"
  />

  <UdtalelseKort
    title="Tv2 Kristendom.dk"
    image="/assets/img/udtalelser/kristendom.dk.webp"
    alt="Tv2 Kristendom.dk"
    text="I Hjælp Din Næstes første år, skrev Kristendom.dk en artikel om vores “Julegaveindsamling” projekt."
    linkText="Læs artiklen her"
    href="#"
    titleColor="text-background1"
  />
</section>
