---
import IkonKort from "../afsnit/IkonKort.astro";
---

<section
  class="mx-auto grid max-w-235 grid-cols-1 gap-2 px-1 md:grid-cols-2 lg:grid-cols-4"
>
  <IkonKort
    billede="/assets/grafik/stol.svg"
    tekst="Møblering og indretning af boligen"
  />
  <IkonKort
    billede="/assets/grafik/kasse.svg"
    tekst="Levering af møbler og nødvendigt inventar"
  />
  <IkonKort
    billede="/assets/grafik/skrue.svg"
    tekst="Praktisk hjælp som reparationer, opsætning af hylder mm."
  />
  <IkonKort
    billede="/assets/grafik/hjerte-streg-rød.svg"
    tekst="Omsorg, nærvær og støtte i en sårbar overgang"
  />
</section>
