---
import Link from "../generelt/Link.astro";
---

<section class="bg-background1 relative h-[400px] w-full overflow-hidden">
  <img
    src="/assets/grafik/citat-bg-pink.svg"
    alt=""
    aria-hidden="true"
    class="absolute inset-0 h-full w-full object-cover"
  />

  <div class="relative mx-auto max-w-230 px-4 py-18">
    <div class="grid grid-cols-1 items-center gap-5 lg:grid-cols-[2fr_3fr]">
      <!-- Illustration -->
      <div class="flex justify-center">
        <img
          src="/assets/grafik/hus-hvid-hjerte.svg"
          alt="lille hus med spørgsmåltegn i midten, som symboliserer søg hjælp"
          class="w-18 object-contain lg:w-44"
        />
      </div>

      <!-- Tekst -->
      <div class="text-center lg:text-left">
        <h2
          class="font-body text-m-title2 text-secondary lg:text-title2 leading-none font-semibold"
        >
          Søger du hjælp som tidligere hjemløs?
        </h2>

        <p
          class="font-body text-m-p-big text-secondary lg:text-p-big mt-4 leading-relaxed"
        >
          Send en mail til hdn@hjaelpdinnaeste.org med din kontaktperson fra
          kommunen, bosted eller lignende og en beskrivelse af din situation
          samt hvad du mangler.
        </p>

        <div class="mt-6 flex justify-center lg:justify-start">
          <Link href="/kontakt" variant="secondary" size="small">
            Kontakt os
          </Link>
        </div>
      </div>
    </div>
  </div>
</section>
