@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://use.typekit.net/kji8ugo.css");
@import "tailwindcss";

/* global variabler der bruges i hele projektet */

:root {
  --primary: #d52122;
  --secondary: #232323;
  --accent-pink: #fa6769;
  --accent-blue: #c7f9ff;
  --accent-brown: #3c0304;
  --background1: #f6f6f6;
  --background2: #fbfbfb;
}

@theme {
  --font-h1: "Anton", sans-serif;
  --font-body: "Quicksand", sans-serif;
  --font-visuals: "Permanent Marker", cursive;
  --font-wordmark: "trade-gothic-next-compressed", sans-serif;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent-pink: var(--accent-pink);
  --color-accent-blue: var(--accent-blue);
  --color-accent-brown: var(--accent-brown);
  --color-background1: var(--background1);
  --color-background2: var(--background2);

  --text-title1: 74px;
  --text-title2: 36px;
  --text-title3: 22px;
  --text-header-big: 18px;
  --text-header-small: 12px;
  --text-p-big: 16px;
  --text-p-small: 14px;
  --text-visuals: 44px;

  --text-m-title1: 35px;
  --text-m-title2: 24px;
  --text-m-title3: 20px;
  --text-m-p-big: 14px;
  --text-m-p-small: 12px;
  --text-m-visuals: 40px;

  --spacing-ws-xl: 200px;
  --spacing-ws-l: 120px;
  --spacing-ws-m: 75px;
  --spacing-ws-s: 40px;
  --spacing-ws-xs: 20px;

  --spacing-ws-m-xl: 100px;
  --spacing-ws-m-l: 70px;
  --spacing-ws-m-m: 30px;
  --spacing-ws-m-s: 15px;
  --spacing-ws-m-xs: 5px;
}

body {
  background-color: var(--background1);
  font-family: var(--font-body);
  color: var(--secondary);
}
