---
const { src } = Astro.props;
---

<div class="my-10 flex w-full justify-center">
  <img
    src={src}
    class="w-[450px] lg:w-[980px]"
    height="auto"
    alt="Illustration af streg, brugt til at skille sektionerne ad"
    aria-hidden="true"
  />
</div>
