<section class="bg-background1 relative h-[400px] w-full overflow-hidden">
  <img
    src="/assets/grafik/citat-bg-grey.svg"
    alt=""
    aria-hidden="true"
    class="absolute inset-0 h-full w-full object-cover"
  />

  <div class="absolute inset-0 flex items-center justify-center">
    <slot />
  </div>
</section>
