---
import Knap from "./Knap.astro";
---

<section
  class="relative h-68 w-full bg-[url('/assets/img/footer-støt.webp')] bg-cover bg-[center_55%]"
>
  <div class="absolute inset-0 z-0 bg-black/60"></div>

  <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
    <h1
      class="font-visuals text-m-title2 md:text-title2 lg:text-visuals text-background1 mb-4"
    >
      Er du klar til at blive medlem?
    </h1>
    <Knap variant="primary" size="large" href="/stoet-os"> STØT NU </Knap>
  </div>
</section>
