
<section
  class={`
    relative w-full md:h-68
    bg-[url('/images/bg.jpg')]
    bg-cover
    bg-center
  `}
>
  <div class="absolute inset-0 bg-black/40 z-0"></div>

  <div class="absolute inset-0 z-10 flex flex-col items-center justify-center">
    <h1 class="font-visuals m-title1 md:title1 text-white">
      Er du klar til at blive medlem?
    </h1>
  </div>
</section>