---
interface Props {
  titel: string;
  billede?: string;
  baggrund?: string;
  farve: string;
  billedePlacering?: string; // fx "50% 0%" (top), "50% 50%" (center), "50% 100%" (bottom)
}

const { titel, billede, baggrund, farve, billedePlacering = "50% 50%" } = Astro.props;
---

{/* Hvis der ikke er et billede, bruges baggrundsklassen i stedet. */}
<section
  class={`relative h-34 w-full overflow-hidden md:h-58 ${!billede ? baggrund : ""}`}
>
  {/* Render kun <img>, når der faktisk er sendt en billede-prop ind. */}
  {
    billede && (
      <img
        src={billede}
        alt={titel}
        style={{ objectPosition: billedePlacering }}
        class="absolute inset-0 h-full w-full object-cover"
      />
        <div class="absolute inset-0 z-10 bg-black/50"></div>
    )
  }


  <div
    class="absolute inset-0 z-20 flex flex-col items-center justify-center px-4 text-center"
  >
    <h1
      class={`font-h1 uppercase text-m-title1 leading-none md:text-title1 lg:text-title1 ${farve}`}
    >
      {titel}
    </h1>

    <img
      src="/assets/grafik/deler-title.svg"
      alt="Dekorativ streg under overskrift"
      class="mt-2 w-[240px] md:w-[580px]"
    />
  </div>
</section>
