---
const { variant = "primary", size = "medium", icon = null, center = false, iconHover = null, type = "knap", ...attrs} = Astro.props;

// Base styling (gælder alle knapper)
const buttonStyling =
  "border-2 px-12 rounded py-2 px-6 inline-flex items-center gap-2 transition-all duration-500 font-body font-weight-bold";

// Varianter
const variantClasses = {
  primary:
    "bg-[var(--primary)] border-[var(--primary)] text-[var(--background2)] hover:bg-[var(--background2)] hover:text-[var(--primary)] hover:border-[var(--primary)] cursor-pointer",

  primary2:
    "bg-[var(--primary)] border-[var(--primary)] text-[var(--background2)] hover:bg-[var(--background2)] hover:text-[var(--primary)] hover:border-[var(--primary)] cursor-pointer",

  secondary:
    "bg-transparent border-[var(--secondary)] text-[var(--secondary)] hover:bg-[var(--secondary)] hover:text-[var(--background2)] cursor-pointer",

  secondary2:
    "bg-[var(--secondary)] border-[var(--secondary)] text-[var(--background2)] hover:bg-[var(--background2)] hover:text-[var(--secondary)] hover:border-[var(--secondary)] cursor-pointer",
};

// Størrelser
const sizeClasses = {
  default: "text-default",
  large: "text-base lg:text-xl",
  medium: "text-sm lg:text-lg",
  small: "text-base",
};

// Ikonstørrelser
const iconSizeClasses = {
  default: "w-6 h-6",
  large: "w-8 h-8",
  medium: "w-6 h-6",
  small: "w-5 h-5",
};

const iconSize = iconSizeClasses[size];
---

<button type={type}{...attrs} class:list={[buttonStyling, variantClasses[variant], sizeClasses[size], "group", "flex justify-center items-center text-center gap-2", attrs.class]}>
  <slot />
  {icon && (<><img src={icon} alt="" class:list={[iconSize, "group-hover:hidden"]}/>{iconHover && (<img src={iconHover} alt="" class:list={[iconSize, "hidden group-hover:block"]}/>)}</>)}</button>