---
// types for props
interface Props {
  billede?: string;
  titel?: string;
  tekst: string;
}

// læser props og tjekker dem mod Props-typen, så vi er sikre på at de er gyldige
const { billede, titel, tekst } = Astro.props;
---

<div class='flex flex-col items-center gap-4 rounded-lg p-6 text-center'>
  {billede && <img src={billede} alt={titel} class='h-16 w-16' />}
  {titel && <h3 class='text-m-title3 md:text-title3 font-bold'>{titel}</h3>}
  <p>{tekst}</p>
</div>
