---
import Layout from '../layouts/Layout.astro';
import HeroLille from '../components/generelt/HeroLille.astro';
import BetalingsKomponent from '../components/stoet-form/Betaling.astro';
---

<Layout pagetitle="Betaling">
  <main class="min-h-screen p-4 lg:p-8">

    <HeroLille
      titel="BETALING"
      baggrund="bg-background1"
      farve="text-primary"
    />

    <BetalingsKomponent currentStep={3} />

  </main>
</Layout>