---
import Layout from "../layouts/Layout.astro";
import DelerStreg from "../components/generelt/DelerStreg.astro";
---

<Layout>
  <h1 class='text-5xl text-green-500' data-aos='fade-up'>Tailwind virker</h1>
  <DelerStreg src="/assets/divider_red.svg" width="250" />
</Layout>
