---
import Layout from '../layouts/Layout.astro';
import HeroLille from '../components/generelt/HeroLille.astro';
import Oplysninger from '../components/stoet-form/Oplysninger.astro';
---

<Layout pagetitle="Oplysninger">

	<main class="min-h-screen p-4 lg:p-8">
    <HeroLille title="OPLYSNINGER" background="bg-background1" color="text-primary" />

    <Oplysninger />
    
	</section>

</main>
    </Layout>