---
import Layout from '../layouts/Layout.astro';
import HeroLille from '../components/generelt/HeroLille.astro';
import Oplysninger from '../components/stoet-form/Oplysninger.astro';
---

<Layout pagetitle="Oplysninger">
  <main class="min-h-screen p-4 lg:p-8">

    <HeroLille
      titel="STØT OS"
      baggrund="bg-background1"
      farve="text-primary"
    />

    <Oplysninger currentStep={2} />

  </main>
</Layout>