---
import StoetForm from "../components/stoet-form/StoetForm.astro";
import Layout from "../layouts/Layout.astro";
import HeroLille from "../components/generelt/HeroLille.astro";
---

<Layout>

	<main class="min-h-screen p-4 lg:p-8">
    <HeroLille title="STØT OS" background="bg-background1" color="text-primary" />

        <StoetForm />
    </main>
    </Layout>