---
import PartnerKort from "./PartnerKort.astro";
---

<section class="mx-auto grid max-w-230 grid-cols-2 items-start gap-3 px-4">
  <PartnerKort
    image="/assets/partner/cufadan.png"
    imageAlt="Cufadan Ejendomme logo"
    title="Cufadan Ejendomme"
    text="Cufadan Ejendomme har valgt at sponsorere udvalgte indkøb, som går direkte til hjemløse."
    link="https://cufadan.dk"
  />
  <PartnerKort
    image="/assets/partner/cufadan.png"
    imageAlt="Cufadan Ejendomme logo"
    title="Cufadan Ejendomme"
    text="Cufadan Ejendomme har valgt at sponsorere udvalgte indkøb, som går direkte til hjemløse."
    link="https://cufadan.dk"
  />
</section>
