---
import PartnerKort from "./PartnerKort.astro";
---

<section
  class="mx-auto grid max-w-230 grid-cols-1 items-start gap-3 px-4 md:grid-cols-2"
>
  <PartnerKort
    image="./assets/img/partner/mandecenter.webp"
    imageAlt="Mandecentret logo"
    title="Mandecentret"
    text="Mandecentret tilbyder midlertidig bolig og gratis ambulant rådgivning til krise- og voldsramte mænd.

Mandecenteret hjælper os med økonomisk bidrag, men har udover det tilbudt hjælp med lagerplads til alt det tøj, soveposer og liggeunderlag vi indsamler og køber til at give til folk på gaden."
    link="https://mandecentret.dk/"
  />
  <PartnerKort
    image="./assets/img/partner/lillefugl.webp"
    imageAlt="Lille fugl logo"
    title="Lille fugl"
    text="Lille fugl støtter vores organisation med bagværk og andre lækkerier til vores uddelinger på gaden."
    link="https://www.instagram.com/lillefugl_kbh/?hl=da"
  />
  <PartnerKort
    image="./assets/img/partner/klarskov.webp"
    imageAlt="Klarskov møbler
 logo"
    title="Klarskov møbler
"
    text="Hos Klarskov møbler har vi mere end 40 års erfaring i at gøre en forskel og skabe trivsel med pædagogiske møbler. Vi har en holdning om møbler til børn og voksne med fokus på funktion, ergonomi og leg – sikkerhed og mere miljøvenlige institutionsmøbler som vi designer, producerer og forhandler fra Fyn.
 
Vi vil gerne støtte og bidrage til ”Hjælp Din Næste´s” fantastisk arbejde med at skabe funktionelle og hyggelige hjem til hjemløse, da alle har brug for tryghed og et sted at høre til med gode møbler og indretning."
    link="https://klarskov.dk/"
  />
  <PartnerKort
    image="/assets/img/partner/revisor.webp"
    imageAlt="DinRevisor Frederiksberg logo"
    title="DinRevisor Frederiksberg"
    text=""
    link="https://dinrevisoraps.dk/afdelinger?afdeling=Frederiksberg"
  />
  <PartnerKort
    image="./assets/img/partner/falkogaard.webp"
    imageAlt="Falkonergården Gymnasium logo"
    title="Falkonergården Gymnasium"
    text="I flere år har vi haft et samarbejde med Falkonergårdens Gymnasium, hvor eleverne har hjulpet os med at hjælpe de hjemløse. De har doneret julegaver, brugte mobiltelefoner og en hel klasse er lige nu i gang med at lave online-platforme/manualer, som skal gøre det nemmere for de digitalt udsatte at benytte sig af deres smartphones.

En gang om året holder eleverne ‘Falko-dag’ hvor de alle samler ind til forskellige organisationer, og vi er så heldige at være én af dem! Det har blandt andet betydet at vi før har taget imod hele 40.698 kr. Så tak kære elever og lærere på Falko. Tusinde tak for at i vil hjælpe os med at hjælpe Københavns udsatte til en højere levestandard.

Vi sender vores varmeste tanker, og en verden af kærlighed i jeres retning. – Tak for at i vil hjælpe os med at købe soveposer ind til gadesoverne."
    link="https://falko.dk/"
  />

  <PartnerKort
    image="./assets/img/partner/dkflag.webp"
    imageAlt="DK-Flag logo"
    title="DK-Flag"
    text="DK-Flag har hjulpet os med et Hjælp Din Næste beach-flag, som vi har brugt igennem de sidste par år til rigtig meget af vores arbejde.

Vi er taknemmelige for at DK-Flag vil hjælpe os med at nå ud til endnu flere mennesker takket være deres gavmilde donation."
    link="https://dk-flag.dk/"
  />
  <PartnerKort
    image="./assets/img/partner/sharecph.webp"
    imageAlt="Sharing Copenhagen logo"
    title="Sharing Copenhagen"
    text="Sharing Copenhagen har i år støttet os med en elektrisk ladcykel, som skal hjælpe os med at uddele værnemidler til et større område af København. Vi er taknemmelige for at Sharing Copenhagen vil bidrage til at vi kan opskalere vores uddelinger og hjælpe endnu flere hjemløse sammen med os."
    link="https://www.kk.dk/brug-byen/kultur-og-projektstoette/puljer-til-sociale-og-kulturelle-formaal/sharing-copenhagen"
  />
  <PartnerKort
    image="./assets/img/partner/holmers.webp"
    imageAlt="Holmers vinduespudsning logo"
    title="Holmers vinduespudsning"
    text="Kasper kom forbi i november 2023 og sagde at han havde startet sit eget vinduespudningsfirma og at han gerne ville donere 10% af sin indtjening fra december – januar til os. Det blev til 1200 kr. som vi var rigtig glade for. Kasper vil også gerne samle ind til os i år og det er vi enormt taknemmelige for. Udover dette kommer Kasper også forbi og pudser vores vinduer helt gratis! Her kan man virkelig snakke om en iværksætter og en ildsjæl der vil noget! Tusinde tak for din hjælp Kasper.
"
    link="https://www.facebook.com/p/Holmer-vinduespudsning-100094718108519/?_rdr"
  />
</section>
