---
import PartnerKort from "./PartnerKort.astro";
---

<section
  class="mx-auto grid max-w-230 grid-cols-1 items-start gap-3 px-4 md:grid-cols-2"
>
  <PartnerKort
    image="./assets/img/partner/heinfond.webp"
    imageAlt="Heinrich og Laurine Jessens Fond logo"
    title="Heinrich og Laurine Jessens Fond"
    text="Fondets formål er at yde hjælp til mennesker, der må anses for værdige og trængende. Indenfor denne ramme skal personer, der er syge eller gamle og sådanne, hvis økonomiske kår ikke svarer til deres opdragelse og stilling I øvrigt, have fortrinsret. Hjælpen kan også have form af støtte til projekter, herunder inden for organisationer m.v., hvis formål er at yde hjælp til sådanne personer."
    link="https://www.heinrichoglaurinejessensfond.dk/"
  />
  <PartnerKort
    image="./assets/img/partner/augustinus.webp"
    imageAlt="Augustinus Fonden logo"
    title="Augustinus Fonden"
    text="Gennem langsigtet filantropi bidrager Augustinus Fonden til det danske samfund nu og i fremtiden"
    link="https://augustinusfonden.dk/da"
  />
</section>
