---
import PartnerKort from "./PartnerKort.astro";
---

<section
  class="mx-auto grid max-w-230 grid-cols-2 items-start gap-3 px-4 md:grid-cols-3"
>
  <PartnerKort
    image="/assets/partner/cufadan.png"
    imageAlt="Cufadan Ejendomme logo"
    title="Cufadan Ejendomme"
    text="Cufadan Ejendomme har valgt at sponsorere udvalgte indkøb, som går direkte til hjemløse."
    link="https://cufadan.dk"
  />
  <PartnerKort
    image="/assets/img/partner/mandecenter.webp"
    imageAlt="Mandecentret logo"
    title="Mandecentret"
    text="Mandecentret tilbyder midlertidig bolig og gratis ambulant rådgivning til krise- og voldsramte mænd.

Mandecenteret hjælper os med økonomisk bidrag, men har udover det tilbudt hjælp med lagerplads til alt det tøj, soveposer og liggeunderlag vi indsamler og køber til at give til folk på gaden."
    link="https://mandecentret.dk/"
  />
  <PartnerKort
    image="/assets/img/partner/lillefugl.webp"
    imageAlt="Lille fugl logo"
    title="Lille fugl"
    text="Lille fugl er en organisation, der arbejder for at skabe et bedre liv for børn og unge i København."
    link="https://www.instagram.com/lillefugl_kbh/?hl=da"
  />
  <PartnerKort
    image="/assets/partner/cufadan.png"
    imageAlt="Cufadan Ejendomme logo"
    title="Cufadan Ejendomme"
    text="Cufadan Ejendomme har valgt at sponsorere udvalgte indkøb, som går direkte til hjemløse."
    link="https://cufadan.dk"
  />
  <PartnerKort
    image="/assets/partner/cufadan.png"
    imageAlt="Cufadan Ejendomme logo"
    title="Cufadan Ejendomme"
    text="Cufadan Ejendomme har valgt at sponsorere udvalgte indkøb, som går direkte til hjemløse."
    link="https://cufadan.dk"
  />
  <PartnerKort
    image="/assets/partner/cufadan.png"
    imageAlt="Cufadan Ejendomme logo"
    title="Cufadan Ejendomme"
    text="Cufadan Ejendomme har valgt at sponsorere udvalgte indkøb, som går direkte til hjemløse."
    link="https://cufadan.dk"
  />
  <PartnerKort
    image="/assets/partner/cufadan.png"
    imageAlt="Cufadan Ejendomme logo"
    title="Cufadan Ejendomme"
    text="Cufadan Ejendomme har valgt at sponsorere udvalgte indkøb, som går direkte til hjemløse."
    link="https://cufadan.dk"
  />
  <PartnerKort
    image="/assets/partner/cufadan.png"
    imageAlt="Cufadan Ejendomme logo"
    title="Cufadan Ejendomme"
    text="Cufadan Ejendomme har valgt at sponsorere udvalgte indkøb, som går direkte til hjemløse."
    link="https://cufadan.dk"
  />
</section>
