---
import PartnerKort from "./PartnerKort.astro";
---

<section
  class="mx-auto grid max-w-230 grid-cols-1 items-start gap-3 px-4 md:grid-cols-2"
>
  <PartnerKort
    image="/assets/img/partner/cufadan.webp"
    imageAlt="Cufadan Ejendomme logo"
    title="Cufadan Ejendomme"
    text="Cufadan Ejendomme har valgt at sponsorere udvalgte indkøb, som værnemidler og andre ressourcer der går direkte til hjemløse. Cufadan betaler eksempelvis for Hjælp Din Næstes sovepose indkøb og stiller varevogn til rådighed til projekt Nyt Hjem.

Samarbejdet er indgået i 2024 "
    link="https://cufadan-ejendomme.dk/"
  />
  <PartnerKort
    image="/assets/img/partner/rema1000.webp"
    imageAlt="Rema 1000 Valby logo"
    title="Rema 1000 Valby"
    text="Mikkel kontaktede os for nyligt, og fortalte at han gerne ville hjælpe os med vores gode arbejde for de hjemløse. Vi har allerede været forbi Mikkels Rema 1000 flere gange nu og fået næsten alle vores varer til indkøbspris. Hvilket vi sætter enormt stort pris på. Tusinde tak til dig Mikkel vores nye indkøbs-samarbejdspartner REMA 1000 Valby for jeres hjælp"
    link="https://www.facebook.com/REMA1000Valby/?locale=da_DK"
  />
</section>
