---
import IkonKort from "../afsnit/IkonKort.astro";
---

<section class='container mx-auto grid grid-cols-1 gap-6 px-4 md:grid-cols-3'>
  <IkonKort
    billede='/assets/grafik/hjerte-fyld-rød.svg'
    titel='Ligeværdighed'
    tekst='Vi møder mennesker med respekt.
Vi deler historier og bryder stigma.'
  />
  <IkonKort
    billede='/assets/grafik/hjerte-fyld-rød.svg'
    titel='Gennemsigtighed'
    tekst='Vi viser, hvor dine donationer ender.
Fuld gennemsigtighed skaber tillid.'
  />
  <IkonKort billede='/assets/grafik/hjerte-fyld-rød.svg' titel='Tryghed' tekst='Vi hjælper hver uge på gaden.
Relationer gør vores hjælp bedre.' />
</section>
