---
import Taeller from "./Taeller.astro";
import TekstCenter from "../afsnit/TekstCenter.astro";
---

<section>
  <TekstCenter
    logo='/assets/grafik/hænder-logo.svg'
    titel='Hvad har vi opnået i 2025?'
    tekst='Som medlem deltager du aktivt i vores kamp for at hjælpe gadens folk. Du sørger for at folk på gaden får varmt tøj, værnemidler, soveposer og andre redskaber mod kulden. Du bliver en hjemløseven og en del af vores vision for at hæve levestandarden og livskvaliteten for alle dem der lever på gaden.'
  />

  <div class='container mx-auto grid grid-cols-1 gap-8 px-4 pt-4 pb-12 md:grid-cols-3'>
    <Taeller tekst1='Skabt et hjem for' nummer={19} tekst2='tidligere hjemløse' />
    <Taeller tekst1='Omfordelt for en samlet værdi af' nummer={1621619} tekst2='kroner' underline={true} />
    <Taeller tekst1='Indsamlet og uddelt' nummer={2500} tekst2='julegaver' />
  </div>
</section>
