---
import Taeller from "./Taeller.astro";
---

<section class='bg-background1 py-12'>
  <h2 class='text-primary mb-8 text-center text-3xl font-bold'>Hvad har vi opnået i 2025?</h2>
  <div class='grid grid-cols-1 gap-8 md:grid-cols-3'>
    <Taeller tekst1='Skabt et hjem for' nummer={19} tekst2='tidligere hjemløse' />
    <Taeller tekst1='Omfordelt for en samlet værdi af' nummer={1621619} tekst2='kroner' />
    <Taeller tekst1='Indsamlet og uddelt' nummer={250} tekst2='julegaver' />
  </div>
</section>
