---
// types for props
interface Props {
  tekst1: string;
  nummer: number;
  tekst2: string;
  // underline er valgfri
  underline?: boolean;
}

// læser props og tjekker dem mod Props-typen, så vi er sikre på at de er gyldige
const { tekst1, nummer, tekst2, underline = false } = Astro.props;
---

<div class='flex h-full flex-col text-center'>
  <p class='text-m-p-big md:text-p-big mb-2 min-h-12'>{tekst1}</p>
  <div class='relative w-fit self-center'>
    <!-- formatere tal til dansk format -->
    <p class='font-visuals text-m-visuals md:text-visuals'>{nummer.toLocaleString("da-DK")}</p>
    <!-- vis kun hvis underline er true -->
    {underline && <img src='/assets/grafik/deler-taeller.svg' alt='' class='absolute -bottom-1 left-0 w-full' />}
  </div>
  <p class='text-m-p-big md:text-p-big mt-2'>{tekst2}</p>
</div>
