---
import Taeller from "./Taeller.astro";
---

<section
  class="mx-auto grid max-w-230 grid-cols-1 gap-8 px-4 pt-4 pb-12 md:grid-cols-3"
>
  <Taeller tekst1="Skabt et hjem for" nummer={19} tekst2="tidligere hjemløse" />
  <Taeller
    tekst1="Omfordelt for en samlet værdi af"
    nummer={1621619}
    tekst2="kroner"
    underline={true}
  />
  <Taeller tekst1="Indsamlet og uddelt" nummer={2500} tekst2="julegaver" />
</section>
