---
import Link from '../generelt/Link.astro';
---

<section class="container mx-auto px-4 max-w-2xl mt-2 lg:mt-8">
        
<div class="w-full max-w-sm mx-auto mt-14 mb-8 font-body lg:max-w-xl lg:mb-10">

  <!-- Tekst -->
  <div class="flex justify-between text-secondary mt-6">
    <p>Vælg</p>
    <p>Oplysninger</p>
    <p>Betaling</p>
    <p>Bekræftelse</p>
  </div>

  <!-- Linje + cirkler -->
  <div class="relative flex justify-between items-center mt-4">

    <!-- Linje -->
    <div class="absolute left-0 right-0 top-1/2 h-0.5 bg-primary -translate-y-1/2"></div>

    <!-- Cirkel 1 -->
    <div class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-secondary bg-background1 text-primary text-p-small lg:h-6 lg:w-6 lg:text-m-p-small">
      1
    </div>

    <!-- Cirkel 2 -->
    <div class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-secondary bg-background1 text-primary text-p-small lg:h-6 lg:w-6 lg:text-m-p-small">
      2
    </div>

    <!-- Cirkel 3 -->
    <div class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-secondary bg-background1 text-primary text-p-small lg:h-6 lg:w-6 lg:text-m-p-small">
      3
    </div>

    <!-- Cirkel 4 -->
    <div class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full border-2 border-secondary bg-background1 text-primary text-p-small lg:h-6 lg:w-6 lg:text-m-p-small">
      4
    </div>

  </div>
</div>

<div class="mx-auto mt-ws-s flex w-full max-w-md flex-col items-center rounded-2xl bg-background2 px-6 py-8 font-body text-secondary shadow-sm lg:px-10 lg:py-10">
  <img
    src="/assets/grafik/Logo-header.svg"
    alt="Hjælp Din Næste logo"
    class="w-24 lg:w-28"
  />

  <h3 class="mt-ws-xs text-center text-m-title3 font-semibold text-secondary lg:text-title3">
    Hjælp Din Næste
  </h3>

  <h3 class="mt-2 text-center font-h1 text-m-title1 uppercase text-primary lg:text-title2">
    299 DKK
  </h3>

  <label class="mt-ws-xs w-full">
    <span class="block pb-2 text-m-p-big font-semibold text-secondary lg:text-p-big">
      Tlf nr.
    </span>

    <input
      type="text"
      placeholder="34 56 67 78"
      class="w-full rounded-md border-2 border-secondary bg-background1 px-5 py-3 text-m-p-big focus:outline-none lg:text-p-big"
    />
  </label>

  <div class="mt-ws-xs flex items-center justify-center">
    <input
      id="remember-phone"
      type="checkbox"
      name="remember-phone"
      class="h-5 w-5 rounded border-2 border-primary bg-background2 text-primary lg:h-6 lg:w-6"
    />

    <label
      for="remember-phone"
      class="ml-3 select-none text-m-p-big lg:text-p-big"
    >
      Husk mit nummer
    </label>
  </div>


<div class="mt-ws-s w-full">
  <Link href="#" variant="primary2" size="medium">
Betal
</Link>
</div>


</div>

</section>